
.table-responsive .dataTables_wrapper .dataTables_filter label {
  font-size: 14px;
  color: var(--black) !important;
}

.table-responsive .dataTables_wrapper .dataTables_filter label input {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: var(--white);
  margin-left: 6px;
  padding: 4px;
}

.table-responsive .dataTables_wrapper .dataTables_filter label input:focus {
  outline: none !important;
}

.table-responsive .dataTables_wrapper table.table.dataTable {
  border-bottom: 1px solid #dee2e6 !important;
}

.table-responsive .dataTables_wrapper table.table.dataTable thead .sorting_asc::before, .table-responsive .dataTables_wrapper table.table.dataTable thead .sorting_asc::after {
  opacity: 0;
}

.table-responsive .dataTables_wrapper table.table.dataTable thead tr th {
  padding: .75rem !important;
  border-bottom: 0px !important;
  background: transparent !important;
  font-size: 14px !important;
  color: var(--black);
}

.table-responsive .dataTables_wrapper table.table.dataTable thead tr th .hide-col-btn {
  margin-top: -13px;
  margin-right: -12px;
  font-size: 10px !important;
  padding: 2px 8px 2px 14px !important;
  border-radius: 0px;
  border-left: 2px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
  border-bottom-left-radius: 16px;
  color: #FF0000;
  font-weight: 600;
  min-width: auto;
}

.table-responsive .dataTables_wrapper table.table.dataTable thead tr th .hide-col-btn i {
  font-size: 12px;
}

.table-responsive .dataTables_wrapper table.table.dataTable tbody tr {
  background: transparent !important;
}

.table-responsive .dataTables_wrapper table.table.dataTable tbody tr td {
  padding: .75rem !important;
  font-size: 14px !important;
  border-top: 1px solid #dee2e6 !important;
  color: var(--black);
}

.table-responsive .dataTables_wrapper table.table.dataTable tbody tr td .user-data-icon {
  font-family: 'ubuntu-medium';
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.table-responsive .dataTables_wrapper table.table.dataTable tbody tr td .user-data-icon .user-icon {
  color: #fff;
  border-radius: 50%;
  padding: 6px;
  margin-right: 8px;
  font-size: 13px;
}

.table-responsive .dataTables_wrapper table.table.dataTable tbody tr td .user-actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.table-responsive .dataTables_wrapper table.table.dataTable tbody tr td .user-actions .btn {
  font-size: 14px !important;
  min-width: auto !important;
  padding: 4px 12px !important;
  font-family: 'ubuntu-medium';
  margin-right: 8px;
}

.table-responsive .dataTables_wrapper table.table.dataTable tbody tr td .user-actions .btn span {
  line-height: 20px;
}

.table-responsive .dataTables_wrapper table.table.dataTable tbody tr.active {
  background-color: rgba(0, 192, 194, 0.1) !important;
}

.table-responsive .dataTables_wrapper table.table.dataTable tbody tr.active td {
  color: #00C0C2 !important;
}

.table-responsive .dataTables_wrapper table.table.dataTable tbody tr.active td .custom-control-label {
  color: #00C0C2;
}

.table-responsive .dataTables_wrapper .dataTables_info {
  font-size: 14px !important;
  padding-top: 14px !important;
  font-family: "ubuntu-medium";
  color: var(--black);
}

.table-responsive .dataTables_wrapper .dataTables_paginate {
  font-size: 14px;
  font-family: "ubuntu-medium";
  padding-top: 14px;
  margin: 0px;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button {
  min-width: auto;
  padding: 2px 8px;
  margin-left: 4px;
  color: var(--black);
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
  background: rgba(0, 0, 0, 0.08) !important;
  color: var(--black) !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 4px;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: var(--white) !important;
  border: none !important;
  background-color: #00C0C2 !important;
  background: #00C0C2 !important;
  border-radius: 4px;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: var(--white) !important;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  background-color: transparent !important;
  background: transparent !important;
  border-color: transparent !important;
}

.table-responsive.table-search-md .dataTables_wrapper .dataTables_filter {
  float: left;
}

.table-responsive.table-search-md .dataTables_wrapper .dataTables_filter label input {
  border: 0px;
  border-bottom: 1px solid #dee2e6;
  border-radius: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
  min-width: 260px;
  padding: 4px;
}

.table-responsive.table-search-md .dataTables_wrapper .dataTables_filter label input:focus {
  outline: none !important;
  border-bottom: 1px solid #00C0C2;
}

.custom-dtable-holder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.custom-dtable-holder .custom-dtable-info {
  font-size: 14px !important;
  padding-top: 14px !important;
  font-family: "ubuntu-medium";
  color: var(--black);
  margin-right: 16px;
}

.custom-dtable-holder .custom-dtable-pagination {
  font-size: 14px;
  font-family: "ubuntu-medium";
  padding-top: 14px;
  margin: 0px;
  margin-left: auto;
}

.custom-dtable-holder .custom-dtable-pagination .paginate_button {
  min-width: auto;
  padding: 2px 8px;
  margin-left: 4px;
  color: var(--black);
}

.custom-dtable-holder .custom-dtable-pagination .paginate_button:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
  background: rgba(0, 0, 0, 0.08) !important;
  color: var(--black) !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 4px;
}

.custom-dtable-holder .custom-dtable-pagination .paginate_button.current {
  color: var(--white) !important;
  border: none !important;
  background-color: #00C0C2 !important;
  background: #00C0C2 !important;
  border-radius: 4px;
}

.custom-dtable-holder .custom-dtable-pagination .paginate_button.current:hover {
  color: var(--white) !important;
}

.custom-dtable-holder .custom-dtable-pagination .paginate_button.disabled {
  background-color: transparent !important;
  background: transparent !important;
  border-color: transparent !important;
}