<div class="container mt-4">
  <div class="row">


    <div class="col-md-6" *ngIf="SearchType == false">
      <form class="form-inline">
        <label> Select a Shift</label>
        <select class="form-control ml-4" name="ShiftTable" id="ShiftTable" style="width: 50%;text-align-last:center;">
          <option selected value="Morning">Morning Shift</option>
          <option value="Afternoon">Afternoon Shift</option>
        </select>
      </form>

    </div>


    <div class="col-md-6">

      <form class="form-inline">
        <label> Select a Table</label>
        <select class="form-control ml-4" name="TableNames" id="TableNames" (change)="AutoUploadFeatureOnly()" style="display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: center;
        min-width:300px ">
          <option value="-" id="table_Default">-</option>
          <option *ngFor="let table of TableNames" value="{{table}}" id="table_{{table}}">{{table}}</option>
        </select>
      </form>
    </div>


    <div class="col-md-6" *ngIf="SearchType == true">
      <form class="form-inline">

        <label> Enter CB/Line Number:</label>
        <input class="form-control ml-1 mr-1" type="text" name="CBNumber" id="CBNumber" required style="display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          text-align: center;">

        <button style="margin-left: 7px;font-size: 11px;" id='SearchButton2' class="btn btn-primary btn-sm"
          (click)="GetCBDetails();" [disabled]='ButtonIsDisabled'> <span *ngIf="CBLoading"
            class="spinner-border spinner-border-sm mr-1"></span>
          Get CB Details</button>
      </form>

    </div>


  </div>

</div>

<div class="container">

  <div class="row my-4 justify-content-end" *ngIf="Data.length !=0 || UrgentData.length !=0">
    <button class="btn btn-primary mr-2" (click)="SelectAll();" *ngIf="SearchType == true" id="AllButton"> Select All
    </button>


    <button class="btn btn-primary mr-2" (click)="Hold();"><span *ngIf="HoldLoading"
        class="spinner-border spinner-border-sm mr-1"></span>
      Hold </button>

    <button class="btn btn-primary mr-2" (click)="Send();"><span *ngIf="SendLoading"
        class="spinner-border spinner-border-sm mr-1"></span>
      Send </button>

    <button class="btn btn-primary" (click)="Delete();">
      Delete</button>

  </div>

</div>



<mat-tab-group style="margin-top: 50px;" *ngIf="SearchType == false" mat-align-tabs="center" animationDuration="1000ms"
  (selectedTabChange)="tabChanged($event)">

  <mat-tab label="Normal">

    <div class="container-fluid mt-3">

      <div class="table-responsive mt-3" id="TableViewSelect" *ngIf="Data.length !=0 || ReviewData.length !=0">
        <table mat-table #Datatable class="table table-bordered w-100" id="dScenario-table" [dataSource]="DataSource">

          <div *ngFor="let col of tableModelColNames; let i=index">
            <ng-container matColumnDef="{{col}}" *ngIf="col != 'SelectColumn'">
              <th mat-header-cell *matHeaderCellDef> {{col}} </th>
              <td mat-cell *matCellDef="let element" [style.background-color]="element.row['FromHoldingStation'] == 'YES'?'crimson':
              element.row['DropColour'].toString().toLowerCase() =='yellow'?'LightYellow':
              element.row['DropColour'].toString().toLowerCase() != 'white'?element.row['DropColour']:'white'"
                [style.color]=" element.row['FromHoldingStation'] == 'YES'?'white':
                                element.row['DropColour'].toString().toLowerCase() =='yellow'?'black':
                                element.row['DropColour'].toString().toLowerCase() != 'white'?'white !important':'black'">
                {{element.row[col]}} </td>
            </ng-container>

          </div>

          <ng-container matColumnDef="SelectColumn">
            <th mat-header-cell *matHeaderCellDef> SelectColumn </th>
            <td mat-cell *matCellDef="let element;let i = index" [style.background-color]="element.row['FromHoldingStation'] == 'YES'?'crimson':
            element.row['DropColour'].toString().toLowerCase() =='yellow'?'LightYellow':
            element.row['DropColour'].toString().toLowerCase() != 'white'?element.row['DropColour']:'white'"
              [style.color]=" element.row['FromHoldingStation'] == 'YES'?'white':
                              element.row['DropColour'].toString().toLowerCase() =='yellow'?'black':
                              element.row['DropColour'].toString().toLowerCase() != 'white'?'white !important':'black'">
              <button class="btn btn-sm SelectAllTag" id="SelectCol_{{i}}"
                (click)="SelectThisRow(i);">{{element.row['SelectColumn'] = 'Selected'?'Select':'UnSelect'}}</button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="tableModelColNamesWithActions"></tr>
          <tr mat-row *matRowDef="let row; columns: tableModelColNamesWithActions;let i = index" id="RowNumber_{{i}}">
          </tr>

        </table>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="PageChange()"
          aria-label="Select page of periodic elements">
        </mat-paginator>

      </div>

    </div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Urgent
      <mat-icon class="example-tab-icon" style="margin-left: 5px; color: red;" *ngIf="UrgentData.length!=0">
        notification_important</mat-icon>
    </ng-template>
    <div class="container-fluid mt-3">

      <div class="table-responsive mt-3" id="UrgentTableViewSelect" *ngIf="UrgentData.length !=0">
        <table mat-table #UrgentDatatable class="table table-bordered w-100" id="UrgentdScenario-table"
          [dataSource]="UrgentdataSource">

          <div *ngFor="let col of tableModelColNames; let i=index">
            <ng-container matColumnDef="{{col}}" *ngIf="col != 'SelectColumn'">
              <th mat-header-cell *matHeaderCellDef> {{col}} </th>
              <td mat-cell *matCellDef="let element" [style.background-color]="element.row['FromHoldingStation'] == 'YES'?'crimson':
              element.row['DropColour'].toString().toLowerCase() =='yellow'?'LightYellow':
              element.row['DropColour'].toString().toLowerCase() != 'white'?element.row['DropColour']:'white'"
                [style.color]=" element.row['FromHoldingStation'] == 'YES'?'white':
                                element.row['DropColour'].toString().toLowerCase() =='yellow'?'black':
                                element.row['DropColour'].toString().toLowerCase() != 'white'?'white !important':'black'"> {{element.row[col]}} </td>
            </ng-container>

          </div>

          <ng-container matColumnDef="SelectColumn">
            <th mat-header-cell *matHeaderCellDef> SelectColumn </th>
            <td mat-cell *matCellDef="let element;let i = index" [style.background-color]="element.row['FromHoldingStation'] == 'YES'?'crimson':
            element.row['DropColour'].toString().toLowerCase() =='yellow'?'LightYellow':
            element.row['DropColour'].toString().toLowerCase() != 'white'?element.row['DropColour']:'white'"
              [style.color]=" element.row['FromHoldingStation'] == 'YES'?'white':
                              element.row['DropColour'].toString().toLowerCase() =='yellow'?'black':
                              element.row['DropColour'].toString().toLowerCase() != 'white'?'white !important':'black'">
              <button class="btn btn-sm SelectAllTag" id="UrgentSelectCol_{{i}}"
                (click)="SelectThisRow(i);">{{element.row['SelectColumn'] = 'Selected'?'Select':'UnSelect'}}</button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="tableModelColNamesWithActions"></tr>
          <tr mat-row *matRowDef="let row; columns: tableModelColNamesWithActions;let i = index"
            id="UrgentRowNumber_{{i}}"
           >
          </tr>

        </table>
        <mat-paginator #Urgentpaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="PageChange()"
          aria-label="Select page of periodic elements">
        </mat-paginator>

      </div>

    </div>

  </mat-tab>

</mat-tab-group>



<div class="container-fluid mt-3" *ngIf="SearchType == true">

  <div class="table-responsive mt-3" id="TableViewSelect" *ngIf="Data.length !=0">
    <table mat-table #Datatable class="table table-bordered w-100" id="dScenario-table" [dataSource]="DataSource">

      <div *ngFor="let col of tableModelColNames; let i=index">
        <ng-container matColumnDef="{{col}}" *ngIf="col != 'SelectColumn'">
          <th mat-header-cell *matHeaderCellDef> {{col}} </th>
          <td mat-cell *matCellDef="let element" [style.background-color]="element.row['FromHoldingStation'] == 'YES'?'crimson':
          element.row['DropColour'].toString().toLowerCase() =='yellow'?'LightYellow':
          element.row['DropColour'].toString().toLowerCase() != 'white'?element.row['DropColour']:'white'"
            [style.color]=" element.row['FromHoldingStation'] == 'YES'?'white':
                            element.row['DropColour'].toString().toLowerCase() =='yellow'?'black':
                            element.row['DropColour'].toString().toLowerCase() != 'white'?'white !important':'black'"> {{element.row[col]}} </td>
        </ng-container>

      </div>

      <ng-container matColumnDef="SelectColumn">
        <th mat-header-cell *matHeaderCellDef> SelectColumn </th>
        <td mat-cell *matCellDef="let element;let i = index" [style.background-color]="element.row['FromHoldingStation'] == 'YES'?'crimson':
        element.row['DropColour'].toString().toLowerCase() =='yellow'?'LightYellow':
        element.row['DropColour'].toString().toLowerCase() != 'white'?element.row['DropColour']:'white'"
          [style.color]=" element.row['FromHoldingStation'] == 'YES'?'white':
                          element.row['DropColour'].toString().toLowerCase() =='yellow'?'black':
                          element.row['DropColour'].toString().toLowerCase() != 'white'?'white !important':'black'">
          <button class="btn btn-sm SelectAllTag" id="SelectCol_{{i}}" (click)="SelectThisRow(i);">Select </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="tableModelColNamesWithActions"></tr>
      <tr mat-row *matRowDef="let row; columns: tableModelColNamesWithActions;let i = index" id="RowNumber_{{i}}">
      </tr>

    </table>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="PageChange()"
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>



</div>
