<div class="container mt-4">
  <div class="row">

    <div class="col-md-6">

      <form class="form-inline">
        <label> Select a Table</label>
        <select class="form-control ml-4" name="TableNames" id="TableNames" (change)="GetHeldBasedOnTable()" style="display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: center;
        min-width:300px ">
          <option value="-" id="table_Default">-</option>
          <option *ngFor="let table of TableNames" value="{{table}}" id="table_{{table}}">{{table}}</option>
        </select>
      </form>
    </div>


    <div class="col-md-6">
      <form class="form-inline">

        <label> Enter CB/Line Number:</label>
        <input class="form-control ml-1 mr-1" type="text" name="CBNumber" id="CBNumber" required style="display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          text-align: center;">
      
      <button style="margin-left: 7px;font-size: 11px;" id = 'SearchButton2' class="btn btn-primary btn-sm"
      (click)="GetCBDetails();"> <span *ngIf="CBLoading" class="spinner-border spinner-border-sm mr-1"></span>
      Get CB Details</button>
    </form>
     
    </div>


  </div>

</div>

<div class="container">

  <div class="row my-4 justify-content-end" *ngIf="tableModelColNames.length!=0">
    <button class="btn btn-primary mr-2" (click)="SelectAll();" id="AllButton"><span *ngIf="HoldLoading"
      class="spinner-border spinner-border-sm mr-1"></span>
    Select All </button>

    
    <button class="btn btn-primary mr-2" (click)="Hold();"><span *ngIf="HoldLoading"
        class="spinner-border spinner-border-sm mr-1"></span>
      Hold </button>

    <button class="btn btn-primary mr-2" (click)="Send();"><span *ngIf="SendLoading"
        class="spinner-border spinner-border-sm mr-1"></span>
      Send </button>

    <button class="btn btn-primary" (click)="Delete();">
      Delete</button>

  </div>

</div>

<div class="container-fluid mt-3">

  <div class="table-responsive mt-3" id="TableViewSelect">
    <table datatable [dtOptions]="dtOptions" class="table table-bordered w-100" id="dScenario-table"
      [dtTrigger]="dtTrigger">
      <thead class="bg-light">
        <tr id="DataTableHeader">
          <th class="align-baseline  mw-200" *ngFor="let col of tableModelColNames; let i=index"
            id="UniqueDataTableHeader_{{col}}">


            <div class="d-flex align-items-center justify-content-between">
              <span class="text-black-50">{{col}}</span>

            </div>


          </th>
          <th id="theSelectColumn" *ngIf="tableModelColNames.length !=0">
            <div class="d-flex align-items-center justify-content-between">
              <span class="text-black-50">SelectColumn</span>

            </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of Data;let i = index" id="RowNumber_{{i}}">
          <td *ngFor="let col of tableModelColNames">
            {{row.row[col]}}</td>
          <td>
            <button class="btn btn-sm SelectAllTag" id="SelectCol_{{i}}" (click)="SelectThisRow(i);">Select</button>
          </td>
        </tr>
      </tbody>
    </table>


  </div>

  <div id="Custom_Table_Holder" class="custom-dtable-holder" style="cursor: pointer;">
    <div id="Custom_Table_Info" class="custom-dtable-info"></div>
    <div id="Custom_Table_Pagination" class="custom-dtable-pagination"></div>
  </div>

</div>
